.navbar {
    padding: 2px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.navlist{
    list-style-type: none;
    display: flex;
    column-gap: 2rem;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.nav-link:hover {
    border-bottom: 2px solid rgb(217, 110, 10); 
}